<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <system.webServer>

    <!-- Route server.js through iisnode -->
    <handlers>
      <add name="iisnode"
           path="server.js"
           verb="*"
           modules="iisnode" />
    </handlers>

    <rewrite>
      <rules>

        <!-- Ignore debug requests -->
        <rule name="iisnode-debug">
          <match url="^server.js/debug[\/]?" />
        </rule>

        <!-- Send everything to Node -->
        <rule name="NodeApp">
          <match url=".*" />
          <action type="Rewrite"
                  url="server.js" />
        </rule>

      </rules>
    </rewrite>

    <httpErrors existingResponse="PassThrough" />

    <iisnode
      nodeProcessCommandLine="node.exe"
      watchedFiles="web.config;*.js" />

  </system.webServer>
</configuration>